/* Jayda Poblete, Period 4, Web Design */
/* 
	Color scheme for this website:
	#EDBFFF
	#D3C7ED
	#CCD2FF
	#AECDE8
	#BFFBFF
*/

body {
	font-size: 1em;
	font-weight: normal;
	font-family: Sansita;
	color: #000000; /* black */
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	background-color: ;
	width: 80%;
	min-width: 720px;
	margin: 0 auto;
}
h1 {
	font-size: 2.3em;
	font-weight: bold;
	font-family: Sansita;
	color: #000000; /* black */
	text-align: center;
	margin-right: 0;
	margin-left: 0;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Georgia, Serif;
	color: #000000; /* black */
	text-align: left;
	margin-right: 0;
	margin-left: 0;
}
div {
	font-size: 1em;
	font-weight: bold;
	color: #000000; /* black */
	font-family: Georgia, Serif;
	text-align: left;
	margin: 1em;
}
p {
	font-size: 1em;
	font-weight: normal;
	margin-right: 0;
	margin-left: 0;
	color: #000000; /* black */
}
a {
	color: #000000;
}
a:hover, a:focus {
	color: black;
	background-color: #FFFF00; /* yellow */
}

/* Table Styles */
/* For accessibility.html */

table {
	margin: 0 auto; /* this is a trick for centering certain elements */
	background-color: white;
}
th, td {
	background color: white;
	color: black;
	padding: 0.75em;
	margin: 1px;
}
caption {
	font-weight: bold;
	font-size: 1.2 em;
	margin: 0.75em;
}

/* Elements with ids and classes */

div#skipnav {
s	top: 5px;
	left: 5px;
	right: 12.5%;
	width: 10em;
	text-align: center;
}
div.info {
	width: 45%;
	font-size: 1.2em;
	float: left;
	font-family: Lucida Bright;
}

/* Navigation Menu Style*/

nav { 
	clear: left;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	float: left;
	margin-right: 0.5em;
}
nav ul li a {
	padding: 0.25em 1em;
	text-decoration: none; 
	background-color: #EBF5FF; 
	color: #4312AE;
	border: 2px solid black;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
nav ul li a:hover, nav ul li a:focus {
	color: black;
	background-color: white;
	font-weight: bold;
}
#main {
	clear: left;
	padding: 1em
}

#main, #main p {
	color: black;
	background-color: ;
	font-style: normal;
}
#main p#overwiew {
	margin-left: 1em;
	font-size: 1.1em;
}
p#overview:first-letter {
	font-family: "Lucida Calligraphy","Monotype Corsiva",cursive;
	font-weight: bold;
	font-size: 2em;
}
#main p.temp {
	font-style: italic;
}
img {
	text-align: center;
}
head {

	text-align: center;
}

/* Button Alert Style */

button { 
    font-size: 1.1em;
    background-color: #EBF5FF;
    color: #4312AE;
    border: ;
    box-shadow: 4px 4px 4px #999999;
}
button:hover, button:focus, button:active { 
    /* swap colors */
    color: #EBF5FF;
    background-color: #4312AE;
    cursor: pointer; /* displays a hand */
}

/* Clock Style */

 div#clock {
 	background-color: ;
 	font-family: "Courier New", Courier, monospace;
 	font-size: 1.5em;
 	padding: ;
 	font-weight:;
 	color: #782164;
 	border:;
 	display: block;

 }

 /* Video Buttons */

 div#myplayer {
 	background-color: #B62F98;
 	color: #b62f89;
 	border: none;
 }

 /* Form Style */

 div.groupsmethod {
 	font-family: Garamond;
 }
 div.firstname {
 	color: #782164;
 	font-family: Garamond;
 }
 div.lastname {
 	font-family: Garamond;

 }
 div.size {
 	background-color: ;
 	font-family: Garamond;
 }
 div.foundout {
 	font-family: Garamond;

 }
 div.other {
 	font-family: Garamond;

 }
      
    

